
body {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 200px;
  padding-bottom: 300px;
  margin: 0 auto;
}

input {
  display: block;
  margin: 0 auto;
  width: 300px;
  max-width: 400px;
}

.main-content {
  padding-left: 400px;
  padding-right: 400px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.navbar img {
  max-width: 18px;
  max-height: 18px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
  border-top: 1px;
  border-color: gray;
}

.navbar a,
.footer a {
  text-decoration: none;
  font-family: arial;
  font-size: 13px;
}

.align-left {
  float: left;
  padding: 20px 10px 20px 20px;
}

.align-right {
  float: right;
  padding: 20px 10px;
}

#Bell {
  padding-right: 20px;
}

#Store {
  padding: 20px 10px;
}

#Settings {
  padding-right: 30px;
}

#Business {
  padding: 20px 10px;
}

#field {
  width: 100%;
}
