
body {
  padding: 200px 100px 400px 100px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


input {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-image {
  padding-left: 350px;
  padding-right: 350px;
}

.main-input {
  display: block;
  margin: auto;
  text-align: center;
  padding-left: 350px;
  padding-right: 350px;
}

/*
#search {
  float: left;
}

#lucky {
  float: right;
}
*/

#field {
  width: 100%;
}

/*
.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
*/
