
body {
  margin-top: 30px;
  padding-top: 200px;
  padding-bottom: 300px;
}

input {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.main-content {
  padding-left: 400px;
  padding-right: 400px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

/*
.main-image {
  padding-left: 350px;
  padding-right: 350px;
  display: block;
  margin: 0 auto;
}

.main-input {
  display: block;
  margin: auto;
  text-align: center;
  padding-left: 350px;
  padding-right: 350px;
}
*/

.navbar {
  position: fixed;
  top: 0;
  width: 100%
}

.navbar a {
  padding: 30px;
  text-decoration: none;
  top: 0;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

/*
#search {
  float: left;
}

#lucky {
  float: right;
}
*/

#field {
  width: 100%;
}

/*
.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
*/
